@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<form asp-action="CreateCustomer" asp-controller="Product" method="post">

    <input type="text" name="txtName" placeholder="Name" />

    </br>
    <input type="text" name="txtSurname" placeholder="Surname" />
    </br>

    <button>Add Customer</button>


</form>