@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers


<form asp-action="MusteriOlustur" asp-controller="Product" method="post">

    <input type="text" name="Name" placeholder="Name" />

    </br>
    <input type="text" name="Surname" placeholder="Surname" />
    </br>

    <button>Müsteri Ekle</button>


</form>